@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* ------------Navigation Section Design Start------------- */
.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 700;
}

.logo-char {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    border: 0px;
    padding-block: 18px;
    padding-inline: 35px;
}

.btn-primary>a {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
}

nav {
    display: flex;
    margin-inline: 230px;
    padding-top: 50px;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-weight: 300;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

ul li {
    font-size: 20px;
    margin-inline: 20px;
}

/* ------------Navigation Section Design End------------- */

.nav-banner-header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    position: bottom right;
    background-position: bottom right;
}


.banner-title {
    font-size: 85px;
    color: #181818;
}


.banner {
    /* display: flex; */
    margin-left: 230px;
    margin-inline-end: 38px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    font-size: 45px;
    color: #474747;
}

.banner-content {
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    line-height: 30px;
    margin-block-end: 30px;
}

.CV-btn {
    margin-inline-end: 30px;
}

.mary-img {
    width: 584px;
    height: 676px;
    margin-inline-end: 72px;
}




/* -------About Section Design Start--------- */

main {
    max-width: 1140px;
    margin-inline: auto;
}

.section-title {
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    color: #181818;
}

.about-description {
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
    line-height: 30px;
    color: #757575;
    text-align: center;
    padding-block: 30px;
}

.about-section {
    padding: 130px 155px;
    margin-block: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.about-info {
    text-align: center;
}

.about-info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.about-info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

/* -------About Section Design End--------- */


/* -- -------What I Do Section Start------- -- */

.what-i-do-desc {
    max-width: 900px;
    text-align: center;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.what-i-do-desc {
    font-size: 18px;
    color: #757575;
    line-height: 28px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill-name {
    padding: 30px 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* text-align: justify; */
}

.skill-title {
    padding: 30px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}

.skill-content {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}